body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #A4A692;
    font-family: monospace;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1 {
    font-size: 10em;
    color: #47747D;
}

main h1 .o {
    color: #D8E3AB;
}

main h1 .l {
    color: #F6B06C;
}

footer {
    padding: 20px;
    font-size: 2em;
}